html {
  scroll-behavior: smooth; }

.transparent-navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease; }

.filled-navbar {
  transition: background-color 0.3s ease;
  background-color: #cfe2ff !important; }

.button {
  background-color: #0d6efd !important; }

#section1 {
  background-image: url("coding1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; }

section {
  min-height: 100vh;
  padding: 48px 0; }

#section4 {
  min-height: calc(100vh - 72px); }

.vignette {
  position: relative; }
  .vignette::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 40%, rgba(0, 0, 0, 0.7)); }

.card-img {
  max-height: 300px;
  object-fit: cover; }

h1 {
  text-align: center;
  font-size: 36px !important;
  font-weight: 500 !important;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px !important;
  margin-bottom: 20px; }

.text-border {
  text-shadow: -1px -1px 0 #cfe2ff, 1px -1px 0 #cfe2ff, -1px 1px 0 #cfe2ff, 1px 1px 0 #cfe2ff; }

.stylish-p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }

h1,
h2,
h3,
h4,
p,
a {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; }

.navbar-title {
  font-size: 1.25rem !important; }

.navbar-item {
  color: #363636 !important; }

nav {
  z-index: 1; }

.text-xl {
  font-size: 1.75rem !important;
  font-weight: 500 !important; }

@media screen and (max-width: 768px) {
  .py-4 {
    padding: 1rem !important; }
  section {
    padding-left: 1rem !important;
    padding-right: 1rem !important; } }

#mobile-menu.hidden {
  display: none; }

#mobile-menu a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none; }

#toggle-menu {
  cursor: pointer; }

.badge {
  display: inline-block;
  padding: 0.125rem 0.5rem;
  color: #333;
  border-radius: 0.375rem;
  border: #333 solid 1px;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center; }
  .badge.badge-primary-subtle {
    background-color: #cfe2ff; }
  .badge.badge-secondary-subtle {
    background-color: #e2e3e5; }
  .badge.badge-danger-subtle {
    background-color: #f8d7da; }
  .badge.badge-success-subtle {
    background-color: #d1e7dd; }

footer div p a {
  color: #0d6efd !important; }
  footer div p a:hover {
    color: #0257d5 !important; }
